Repository kvncampos/nautobot-ai-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: invoke-unittest, invoke-check-migrations, invoke-yamllint

invoke-unittest:
  name: Run invoke unittest -k
  entry: poetry run invoke unittest -k
  language: system
  pass_filenames: false

invoke-check-migrations:
  name: Run invoke check-migrations
  entry: poetry run invoke check-migrations
  language: system
  pass_filenames: false

invoke-yamllint:
  name: Run invoke yamllint
  entry: poetry run invoke yamllint
  language: system
  pass_filenames: false

Release 1.0.1
  .github/workflows/publish-pypi.yml
  changes/8.added
  changes/pypi-publish.added
  docs/admin/release_notes/version_1.0.md
  pyproject.toml
Due: invoke-yamllint

updated metadata logic
  ai_ops/__init__.py
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

updated workflow and docs
  .github/workflows/README.md
  .github/workflows/publish-pypi.yml
  .gitignore
  README.md
  docs/dev/contributing.md
  docs/dev/extending.md
  docs/dev/release_checklist.md
  mkdocs.yml
Due: invoke-yamllint

updating changelog pattern and comments
  .github/workflows/publish-pypi.yml
  changes/workflow-update.changed
  docs/dev/release_checklist.md
Due: invoke-yamllint

updated tagging naming convention and ci trigger
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  changes/workflow-update.changed
  docs/dev/contributing.md
  docs/dev/pypi_publishing.md
  docs/dev/release_checklist.md
Due: invoke-yamllint

updated changelog task
  .github/workflows/ci.yml
Due: invoke-yamllint

updated workflow and docs (#21)
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/publish-pypi.yml
  .gitignore
  README.md
  changes/workflow-update.changed
  docs/dev/contributing.md
  docs/dev/extending.md
  docs/dev/pypi_publishing.md
  docs/dev/release_checklist.md
  mkdocs.yml
Due: invoke-yamllint

added changelog and updated form
  ai_ops/forms.py
  changes/middleware-config-improvements.added
Due: none

chore: release 1.0.2
  changes/+pypi-downloads.fixed
  changes/middleware-config-improvements.added
  changes/workflow-update.changed
  docs/admin/release_notes/version_1.0.md
Due: none

restructure changes/
  changes/24.documentation
Due: none

Add comprehensive provider, middleware, and MCP server documentation (#25)
  README.md
  ai_ops/static/ai_ops/docs/404.html
  ai_ops/static/ai_ops/docs/admin/release_notes/index.html
  ai_ops/static/ai_ops/docs/assets/_mkdocstrings.css
  ai_ops/static/ai_ops/docs/dev/code_reference/index.html
  ai_ops/static/ai_ops/docs/index.html
  ai_ops/static/ai_ops/docs/objects.inv
  ai_ops/static/ai_ops/docs/search/search_index.json
  ai_ops/static/ai_ops/docs/sitemap.xml
  ai_ops/static/ai_ops/docs/sitemap.xml.gz
  changes/24.documentation
  docs/user/app_getting_started.md
  docs/user/app_use_cases.md
  docs/user/external_interactions.md
  docs/user/mcp_server_configuration.md
  docs/user/middleware_configuration.md
  docs/user/provider_configuration.md
  mkdocs.yml
Due: invoke-yamllint

work in progress
  add_health_endpoint.md
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/api/views.py
  ai_ops/checkpointer.py
  ai_ops/helpers/common/asyncio_utils.py
  ai_ops/helpers/get_middleware.py
  ai_ops/prompts/multi_mcp_system_prompt.py
  ai_ops/static/ai_ops/docs/404.html
  ai_ops/static/ai_ops/docs/admin/release_notes/index.html
  ai_ops/static/ai_ops/docs/assets/_mkdocstrings.css
  ai_ops/static/ai_ops/docs/dev/code_reference/index.html
  ai_ops/static/ai_ops/docs/index.html
  ai_ops/static/ai_ops/docs/objects.inv
  ai_ops/static/ai_ops/docs/search/search_index.json
  ai_ops/static/ai_ops/docs/sitemap.xml
  ai_ops/static/ai_ops/docs/sitemap.xml.gz
  ai_ops/tests/test_exception_handling.py
  ai_ops/views.py
Due: invoke-unittest

Fix conversation history clearing and agent response quality (#26)
  ai_ops/checkpointer.py
  ai_ops/prompts/multi_mcp_system_prompt.py
  ai_ops/tests/test_helpers.py
Due: invoke-unittest

updated prompt
  ai_ops/prompts/multi_mcp_system_prompt.py
Due: none

updated prompts and agent flow
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/helpers/get_middleware.py
  ai_ops/prompts/multi_mcp_system_prompt.py
Due: none

updated pr number
  changes/27.added
Due: none

updated and removed diagnostic logs
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/checkpointer.py
  ai_ops/helpers/get_middleware.py
  ai_ops/tests/test_exception_handling.py
  ai_ops/tests/test_helpers.py
Due: invoke-unittest

chore: release 1.0.3
  changes/24.documentation
  changes/27.added
  changes/towncrier-automation.housekeeping
  docs/admin/release_notes/version_1.0.md
  pyproject.toml
Due: none

updated changes/ filename
  changes/28.documentation
Due: none

Update documentation to reflect middleware fresh instantiation per request (#28)
  changes/28.documentation
  docs/admin/install.md
  docs/dev/architecture.md
  docs/dev/code_reference/models.md
  docs/user/app_overview.md
  docs/user/middleware_configuration.md
Due: none

added templates and test for new prompt system
  ai_ops/__init__.py
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/api/serializers.py
  ai_ops/api/urls.py
  ai_ops/api/views.py
  ai_ops/constants/middleware_schemas.py
  ai_ops/filters.py
  ai_ops/forms.py
  ai_ops/helpers/get_prompt.py
  ai_ops/migrations/0003_systemprompt_llmmodel_system_prompt.py
  ai_ops/models.py
  ai_ops/navigation.py
  ai_ops/signals.py
  ai_ops/static/ai_ops/css/system_prompt.css
  ai_ops/tables.py
  ai_ops/templates/ai_ops/systemprompt_retrieve.html
  ai_ops/tests/test_api.py
  ai_ops/tests/test_filters.py
  ai_ops/tests/test_helpers.py
  ai_ops/tests/test_models.py
  ai_ops/urls.py
  ai_ops/views.py
Due: invoke-unittest, invoke-check-migrations

docs updated
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/helpers/get_prompt.py
  changes/29.added
  docs/dev/code_reference/agents.md
  docs/dev/code_reference/models.md
  docs/images/model-system-prompt-field.svg
  docs/images/system-prompt-create-form.svg
  docs/images/system-prompt-detail-view.svg
  docs/images/system-prompt-list-view.svg
  docs/user/app_getting_started.md
  docs/user/app_overview.md
  docs/user/faq.md
  docs/user/provider_configuration.md
  docs/user/system_prompt_configuration.md
  mkdocs.yml
Due: invoke-yamllint

updated signals
  ai_ops/signals.py
Due: none

added templates and test for new prompt system (#29)
  ai_ops/__init__.py
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/api/serializers.py
  ai_ops/api/urls.py
  ai_ops/api/views.py
  ai_ops/constants/middleware_schemas.py
  ai_ops/filters.py
  ai_ops/forms.py
  ai_ops/helpers/get_prompt.py
  ai_ops/migrations/0003_systemprompt_llmmodel_system_prompt.py
  ai_ops/models.py
  ai_ops/navigation.py
  ai_ops/signals.py
  ai_ops/static/ai_ops/css/system_prompt.css
  ai_ops/tables.py
  ai_ops/templates/ai_ops/systemprompt_retrieve.html
  ai_ops/tests/test_api.py
  ai_ops/tests/test_filters.py
  ai_ops/tests/test_helpers.py
  ai_ops/tests/test_models.py
  ai_ops/urls.py
  ai_ops/views.py
  changes/29.added
  docs/dev/code_reference/agents.md
  docs/dev/code_reference/models.md
  docs/images/model-system-prompt-field.svg
  docs/images/system-prompt-create-form.svg
  docs/images/system-prompt-detail-view.svg
  docs/images/system-prompt-list-view.svg
  docs/user/app_getting_started.md
  docs/user/app_overview.md
  docs/user/faq.md
  docs/user/provider_configuration.md
  docs/user/system_prompt_configuration.md
  mkdocs.yml
Due: invoke-unittest, invoke-check-migrations, invoke-yamllint

updated css and system prompt
  ai_ops/__init__.py
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/forms.py
  ai_ops/helpers/get_prompt.py
  ai_ops/helpers/logging_config.py
  ai_ops/helpers/tool_callback.py
  ai_ops/models.py
  ai_ops/prompts/multi_mcp_system_prompt.py
  ai_ops/prompts/system_prompt.py
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/tests/test_exception_handling.py
  ai_ops/tests/test_helpers.py
  ai_ops/views.py
  poetry.lock
  pyproject.toml
Due: invoke-unittest, invoke-check-migrations

ruff and changelog
  ai_ops/helpers/get_prompt.py
  ai_ops/models.py
  changes/30.changed
Due: invoke-unittest, invoke-check-migrations

addressing comments
  ai_ops/helpers/logging_config.py
  ai_ops/static/ai_ops/css/chat_widget.css
Due: none

addressing comments v2
  ai_ops/helpers/logging_config.py
  ai_ops/static/ai_ops/css/chat_widget.css
Due: none

updated logic for exception output only for local, lab
  ai_ops/api/views.py
  ai_ops/tests/test_exception_handling.py
  ai_ops/views.py
Due: invoke-unittest

updated prompt name
  ai_ops/agents/single_mcp_agent.py
  ai_ops/helpers/get_prompt.py
Due: none

updated docstrings
  ai_ops/helpers/logging_config.py
Due: none

updated css and system prompt and logging (#30)
  ai_ops/__init__.py
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/agents/single_mcp_agent.py
  ai_ops/api/views.py
  ai_ops/forms.py
  ai_ops/helpers/get_prompt.py
  ai_ops/helpers/logging_config.py
  ai_ops/helpers/tool_callback.py
  ai_ops/models.py
  ai_ops/prompts/multi_mcp_system_prompt.py
  ai_ops/prompts/system_prompt.py
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/tests/test_exception_handling.py
  ai_ops/tests/test_helpers.py
  ai_ops/views.py
  changes/30.changed
  poetry.lock
  pyproject.toml
Due: invoke-unittest, invoke-check-migrations

chore: 1.0.4
  changes/28.documentation
  changes/29.added
  changes/30.changed
  docs/admin/release_notes/version_1.0.md
  pyproject.toml
Due: none

Path conditions:
  invoke-unittest: any of: ^(ai_ops/tests/.*|ai_ops/models\.py)$
  invoke-check-migrations: any of: ^ai_ops/models\.py$
  invoke-yamllint: any of: .*\.(yml|yaml)$
