Repository kvncampos/nautobot-ai-ops: changes, and which pre-commit hooks are due for each by the changed paths.
All: invoke-unittest, invoke-check-migrations, invoke-yamllint

invoke-unittest:
  name: Run invoke unittest -k
  entry: poetry run invoke unittest -k
  language: system
  pass_filenames: false

invoke-check-migrations:
  name: Run invoke check-migrations
  entry: poetry run invoke check-migrations
  language: system
  pass_filenames: false

invoke-yamllint:
  name: Run invoke yamllint
  entry: poetry run invoke yamllint
  language: system
  pass_filenames: false

update nautobot 3.0.0
  pyproject.toml
Due: none

update nautobot 3.0.0
  poetry.lock
Due: none

Update 3.0.0 (#32)
  poetry.lock
  pyproject.toml
Due: none

chore: 1.0.5
  pyproject.toml
Due: none

adding bs5 support
  .github/workflows/ci.yml
  README.md
  ai_ops/__init__.py
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/checkpointer.py
  ai_ops/forms.py
  ai_ops/helpers/async_shutdown.py
  ai_ops/helpers/get_prompt.py
  ai_ops/helpers/tool_callback.py
  ai_ops/models.py
  ai_ops/prompts/REFACTOR_SUMMARY.md
  ai_ops/prompts/template_renderer.py
  ai_ops/prompts/templates/README.md
  ai_ops/prompts/templates/multi_mcp_system_prompt.md
  ai_ops/prompts/templates/system_prompt.md
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/static/ai_ops/js/chat_widget.js
  ai_ops/templates/ai_ops/chat_widget.html
  ai_ops/tests/test_celery_tasks.py
  ai_ops/tests/test_helpers.py
  ai_ops/views.py
  development/Dockerfile
  docs/admin/install.md
  docs/dev/architecture.md
  docs/user/quick_start.md
  poetry.lock
  pyproject.toml
  tasks.py
Due: invoke-unittest, invoke-check-migrations, invoke-yamllint

adding bs5 support
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/static/ai_ops/js/chat_widget.js
Due: none

added changelog
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/agents/simple_agent.py
  ai_ops/helpers/get_prompt.py
  ai_ops/helpers/llm_providers/azure_ai.py
  ai_ops/helpers/logging_config.py
  ai_ops/jobs/__init__.py
  ai_ops/prompts/templates/system_prompt.md
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/static/ai_ops/js/chat_widget.js
  ai_ops/templates/ai_ops/chat_widget.html
  ai_ops/tests/test_celery_tasks.py
  ai_ops/tests/test_helpers.py
  changes/33.added
Due: invoke-unittest

updated ui
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/templates/ai_ops/chat_widget.html
Due: none

updated tests for new default ttl
  ai_ops/__init__.py
  ai_ops/tests/test_celery_tasks.py
  ai_ops/tests/test_views.py
Due: invoke-unittest

Update local nb version (#33)
  .github/workflows/ci.yml
  README.md
  ai_ops/__init__.py
  ai_ops/agents/multi_mcp_agent.py
  ai_ops/agents/simple_agent.py
  ai_ops/checkpointer.py
  ai_ops/forms.py
  ai_ops/helpers/async_shutdown.py
  ai_ops/helpers/get_prompt.py
  ai_ops/helpers/llm_providers/azure_ai.py
  ai_ops/helpers/logging_config.py
  ai_ops/helpers/tool_callback.py
  ai_ops/jobs/__init__.py
  ai_ops/models.py
  ai_ops/prompts/REFACTOR_SUMMARY.md
  ai_ops/prompts/system_prompt.py
  ai_ops/prompts/template_renderer.py
  ai_ops/prompts/templates/README.md
  ai_ops/prompts/templates/multi_mcp_system_prompt.md
  ai_ops/prompts/templates/system_prompt.md
  ai_ops/static/ai_ops/css/chat_widget.css
  ai_ops/static/ai_ops/js/chat_widget.js
  ai_ops/templates/ai_ops/chat_widget.html
  ai_ops/tests/test_celery_tasks.py
  ai_ops/tests/test_helpers.py
  ai_ops/tests/test_views.py
  ai_ops/views.py
  changes/33.added
  development/Dockerfile
  docs/admin/install.md
  docs/dev/architecture.md
  docs/user/quick_start.md
  poetry.lock
  pyproject.toml
  tasks.py
Due: invoke-unittest, invoke-check-migrations, invoke-yamllint

chore: release 1.0.6
  ai_ops/__init__.py
  changes/33.added
  docs/admin/release_notes/version_1.0.md
  pyproject.toml
Due: none

Revise Nautobot AI Ops Agent configuration
  .github/agents/my-agent.agent.md
Due: none

Rename my-agent.agent.md to network_ai_ops.agent.md
  .github/agents/network_ai_ops.agent.md
Due: none

adding deepagent feature
  LANGFUSE_SETUP_INSTRUCTIONS.md
  ai_ops/__init__.py
  ai_ops/agents/deep_mcp_agent.py
  ai_ops/agents/subagents.yaml
  ai_ops/helpers/deep_agent/__init__.py
  ai_ops/helpers/deep_agent/agents_loader.py
  ai_ops/helpers/deep_agent/backend_factory.py
  ai_ops/helpers/deep_agent/checkpoint_factory.py
  ai_ops/helpers/deep_agent/embedding_factory.py
  ai_ops/helpers/deep_agent/mcp_tools_auth.py
  ai_ops/helpers/deep_agent/middleware.py
  ai_ops/helpers/deep_agent/store_factory.py
  ai_ops/signals.py
  ai_ops/skills/nautobot-search/SKILL.md
  ai_ops/views.py
  development/creds.example.env
  development/development.env
  development/docker-compose.langfuse.yml
  development/docker-compose.postgres.yml
  development/docker-compose.redis.yml
  development/init-langfuse-db.sql
  docs/DEEP_AGENT_ARCHITECTURE.md
  poetry.lock
  pyproject.toml
  tasks.py
Due: invoke-yamllint

updating middleware
  ai_ops/helpers/deep_agent/middleware.py
Due: none

updated deepagent
  ai_ops/agents/deep_mcp_agent.py
  ai_ops/forms.py
  ai_ops/helpers/deep_agent/checkpoint_factory.py
  ai_ops/helpers/deep_agent/store_factory.py
  ai_ops/helpers/get_llm_model.py
  ai_ops/helpers/llm_providers/azure_ai.py
  ai_ops/helpers/llm_providers/ollama.py
  ai_ops/helpers/llm_providers/openai.py
  ai_ops/management/__init__.py
  ai_ops/management/commands/__init__.py
  ai_ops/management/commands/migrate_deep_agent_middleware.py
  ai_ops/migrations/0004_llmmodel_model_config.py
  ai_ops/migrations/0005_move_endpoint_to_model_config.py
  ai_ops/models.py
Due: invoke-unittest, invoke-check-migrations

moving data population to migrations
  ai_ops/__init__.py
  ai_ops/migrations/0006_populate_default_data.py
Due: none

adding memory
  ai_ops/memory/nautobot_api_patterns.md
  ai_ops/memory/nautobot_data_model.md
  ai_ops/memory/network_concepts.md
  ai_ops/memory/network_troubleshooting.md
  poetry.lock
  pyproject.toml
Due: none

updating docs
  ai_ops/agents/deep_mcp_agent.py
Due: none

removing semantic search
  ai_ops/agents/deep_mcp_agent.py
  ai_ops/helpers/deep_agent/__init__.py
  ai_ops/helpers/deep_agent/embedding_factory.py
  ai_ops/helpers/deep_agent/middleware.py
  ai_ops/management/commands/migrate_deep_agent_middleware.py
  ai_ops/memory/nautobot_api_patterns.md
  ai_ops/memory/operational_runbooks.md
  development/development.env
  pyproject.toml
Due: none

updated lock
  poetry.lock
Due: none

adding tool cache to work with nautobot mcp
  ai_ops/agents/deep_mcp_agent.py
  ai_ops/helpers/deep_agent/__init__.py
  ai_ops/helpers/deep_agent/middleware.py
  ai_ops/management/commands/migrate_tool_cache_middleware.py
  ai_ops/middleware/__init__.py
Due: none

condense default prompt
  ai_ops/migrations/0006_populate_default_data.py
  ai_ops/prompts/templates/multi_mcp_system_prompt.md
  ai_ops/prompts/templates/system_prompt.md
Due: none

linting fix, update arg retrieval, update doc url
  .gitignore
  ai_ops/__init__.py
  ai_ops/agents/deep_mcp_agent.py
  ai_ops/agents/subagents.yaml
  ai_ops/forms.py
  ai_ops/helpers/deep_agent/checkpoint_factory.py
  ai_ops/helpers/deep_agent/store_factory.py
  ai_ops/helpers/llm_providers/azure_ai.py
  ai_ops/helpers/llm_providers/openai.py
  ai_ops/management/commands/migrate_tool_cache_middleware.py
  ai_ops/migrations/0007_remove_llmmodel_documentation_url.py
  ai_ops/models.py
  ai_ops/tests/test_helpers.py
  ai_ops/tests/test_models.py
  ai_ops/views.py
  development/development.env
  development/docker-compose.langfuse.yml
  development/docker-compose.redis.yml
  mkdocs.yml
Due: invoke-unittest, invoke-check-migrations, invoke-yamllint

ready for release
  .github/agents/network_ai_ops.agent.md
  ai_ops/__init__.py
  ai_ops/agents/deep_mcp_agent.py
  ai_ops/agents/subagents.yaml
  ai_ops/helpers/async_shutdown.py
  ai_ops/helpers/deep_agent/__init__.py
  ai_ops/helpers/deep_agent/_utils.py
  ai_ops/helpers/deep_agent/checkpoint_factory.py
  ai_ops/helpers/deep_agent/mcp_tools_auth.py
  ai_ops/helpers/deep_agent/store_factory.py
  ai_ops/helpers/logging_config.py
  ai_ops/jobs/mcp_health_check.py
  ai_ops/migrations/0008_default_scheduled_jobs.py
  ai_ops/navigation.py
  ai_ops/signals.py
  ai_ops/skills/nautobot-search/SKILL.md
  ai_ops/static/ai_ops/icons/robot-happy-outline-white.svg
  ai_ops/static/ai_ops/js/chat_widget.js
  development/development.env
  development/docker-compose.redis.yml
Due: invoke-yamllint

chore: added changelog
  changes/38.added.md
Due: none

fixing copilot issues
  ai_ops/__init__.py
  ai_ops/forms.py
  ai_ops/helpers/deep_agent/__init__.py
  ai_ops/helpers/deep_agent/middleware.py
  ai_ops/helpers/deep_agent/store_factory.py
  development/development.env
  docs/langfuse_setup.md
  pyproject.toml
Due: none

fixing copilot issues
  add_health_endpoint.md
Due: none

chore: release 2.0.0
  ai_ops/__init__.py
  changes/38.added.md
  docs/admin/release_notes/version_2.0.md
  mkdocs.yml
  pyproject.toml
Due: invoke-yamllint

update docs
  mkdocs.yml
Due: invoke-yamllint

updating docs
  docs/dev/deep_agent_architecture.md
  docs/user/mcp_server_configuration.md
  mkdocs.yml
Due: invoke-yamllint

adding changelog
  changes/+deep-agent-architecture-docs.added
  changes/+mcp-server-docs-fastmcp.changed
Due: none

fixing ci
  docs/DEEP_AGENT_ARCHITECTURE.md
  docs/dev/deep_agent_architecture.md
Due: none

Path conditions:
  invoke-unittest: any of: ^(ai_ops/tests/.*|ai_ops/models\.py)$
  invoke-check-migrations: any of: ^ai_ops/models\.py$
  invoke-yamllint: any of: .*\.(yml|yaml)$
